<div class="card">
    <div class="img-cont">
        <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap">
    </div>
    <div class="card-body">
        <h3 class="card-title">{{this.name}}</h3>
        <p class="card-tagline">{{this.tagline}} </p>
        <p class="card-text"><strong>Description:</strong> <br /> {{this.description}}</p>
    </div>
    <button><a href="/beer/{{this.id}}">Check details</a></button>
</div>